<div class="row">
<div class="col-md-3">
  <h3>Week 1</h3>
  <table class="table table-striped">
  <tr><td>Before starting</td>
  <td>Click on the Pre-workshop Survey link under the Survey Headline.</td></tr>
    <tr> <td>16:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
    <tr> <td>17:00</td>  <td>Water break</td> </tr>
    <tr> <td>17:15</td>  <td>Unix Shell (continued)</td> </tr>
  </table>
</div>

<div class="col-md-3">
<h3>Week 2</h3>
<table class="table table-striped">
  <tr> <td>16:00</td>  <td>Version control with Git</td> </tr>
  <tr> <td>17:00</td>  <td>Water break</td> </tr>
  <tr> <td>17:15</td>  <td> Git (continued)</td> </tr>

</table>
</div>

<div class="col-md-3">
<h3>Week 3</h3>
<table class="table table-striped">
  <tr> <td>16:00</td>  <td>Building programs with Python and R </td> </tr>
  <tr> <td>17:00</td>  <td>Water break</td> </tr>
  <tr> <td>17:15</td>  <td>Python and R (continued)</td> </tr>

</table>
</div>

<div class="col-md-3">
<h3>Week 4</h3>
<table class="table table-striped">
  <tr> <td>16:00</td>  <td>Python and R (continued)</td> </tr>
  <tr> <td>17:00</td>  <td>Water break</td> </tr>
  <tr> <td>17:15</td>  <td>Python and R (continued)</td> </tr>
  <tr><td>Click on the Post-workshop Survey link under the Survey Headline.</td></tr>
</table>
</div>
</div>
